@import './src/aura-view.css';
@import './src/color-scheme.css';
@import './src/color.css';
@import './src/size.css';
@import './src/surface.css';
@import './src/typography.css';

@import './src/components/app-layout.css';
@import './src/components/badge.css';
@import './src/components/card.css';
@import './src/components/checkbox-radio.css';
@import './src/components/form-layout.css';
@import './src/components/grid.css';
@import './src/components/input-container.css';
@import './src/components/master-detail-layout.css';
@import './src/components/notification.css';
@import './src/components/overlay.css';
@import './src/components/select.css';
@import './src/components/side-nav.css';

html {
  cursor: default;
}

::view-transition {
  pointer-events: none;
}

/* TODO this would be nice to add (avoid snapshotting the whole viewport) but then the backdrop-filter on things like notifications doesn"t work correctly in Chrome */
/* :root {
  view-transition-name: none;
} */

html:has(vaadin-app-layout) {
  &,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
  }
}

/* vaadin-app-layout > vaadin-master-detail-layout::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border: 1px solid transparent;
  background: linear-gradient(to bottom right, hsl(0 0 100 / 0.2), hsl(0 0 100 / 0.07), hsl(0 0 100 / 0.2)) border-box;
  mask: linear-gradient(black,black) border-box, linear-gradient(black,black) padding-box;
  mask-composite: subtract;
  pointer-events: none;
} */

vaadin-scroller[slot='drawer'] {
  scrollbar-width: thin;
}

::part(input-field) {
  background-clip: padding-box;
  box-shadow: 0 2px 1px -1px hsla(0, 0%, 0%, 0.07);
}

vaadin-avatar[theme~='vaadin']::part(icon) {
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none"><path d="M11.1854 7.48145C11.7551 7.48145 12.2184 7.95693 12.2186 8.54199C12.2186 8.72558 12.1719 8.90779 12.0819 9.06934L8.86023 15.1895C8.8531 15.2033 8.84588 15.2156 8.83875 15.2285C8.69333 15.5564 8.3724 15.7852 7.9989 15.7852C7.62026 15.7851 7.29542 15.55 7.1532 15.2148C7.14827 15.206 7.14334 15.1978 7.13855 15.1885L3.91687 9.06738C3.82776 8.90728 3.78015 8.72555 3.78015 8.54199C3.78037 7.95699 4.24389 7.48154 4.81335 7.48145C5.27105 7.48145 5.58212 7.7112 5.7948 8.20996L7.99988 12.4307L10.2069 8.20508C10.4171 7.71153 10.7278 7.48156 11.1854 7.48145Z" fill="currentColor"/><path d="M15.2108 1C15.6505 1.00007 15.9997 1.36209 15.9999 1.80859V3.14258C15.9999 4.71011 15.2872 5.49403 13.6552 5.49414H10.035C8.95299 5.49419 8.84659 5.95787 8.84656 6.4082C8.84656 6.45438 8.84269 6.49396 8.83777 6.53613C8.81197 6.98687 8.4453 7.34557 7.995 7.3457C7.54459 7.3457 7.17686 6.98894 7.15125 6.53809C7.14633 6.49582 7.14343 6.45432 7.14343 6.4082C7.1434 5.95784 7.03606 5.49414 5.95398 5.49414H2.33484C0.702567 5.49414 -9.57545e-05 4.71022 -0.00012207 3.14258V1.80859C5.05523e-05 1.36204 0.337484 1 0.777222 1C1.21691 1.00006 1.55049 1.36208 1.55066 1.80859V2.25977C1.55078 2.76409 1.89158 3.13184 2.6366 3.13184H6.18542C7.79968 3.13207 7.92422 4.34896 7.97742 4.99316H8.01257C8.06578 4.3489 8.19 3.13184 9.80457 3.13184H13.3534C14.0982 3.13177 14.4157 2.77682 14.4159 2.27246L14.4178 1.80859C14.418 1.36204 14.7711 1 15.2108 1Z" fill="currentColor"/></svg>');
  mask-size: 60%;
}

vaadin-avatar[theme~='square'] {
  border-radius: var(--vaadin-radius-m);
}

vaadin-scroller:not([overflow]) {
  overflow: visible;
  min-height: 0;
  min-width: 0;
}

/* TODO built-in variant? */
#org-select {
  --vaadin-input-field-value-font-weight: var(--aura-font-weight-strong);
  --vaadin-input-field-value-font-size: var(--aura-font-size-l);
  /* TODO optical adjustment */
  margin-inline-start: var(--vaadin-padding-xs);
}
