node_modules
coverage
dist
analysis.json
yarn-error.log
.env

# Failures from visual tests
packages/*/test/visual/*/screenshots/*/failed

# MacOS DS_Store files
.DS_Store

# VSCode user configuration folders
.vscode

# Generated web-types JSON files
web-types.json
web-types.lit.json