node_modules
coverage
dist
analysis.json
yarn-error.log
.env

# List of packages
scripts/packages.txt

# Failures from visual tests
packages/*/test/visual/*/screenshots/*/failed

# MacOS DS_Store files
.DS_Store

# VSCode user configuration folders
.vscode
