{
  "bracketSpacing": true,
  "printWidth": 120,
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["packages/vaadin-lumo-styles/components/*.css"],
      "options": {
        "printWidth": 40
      }
    }
  ]
}
