{
  "customSyntax": "postcss-lit",
  "extends": [
    "stylelint-config-vaadin",
    "stylelint-config-property-sort-order-smacss"
  ],
  "rules": {
    "order/order": [
			"custom-properties",
			"declarations"
		]
  }
}
