{
  "extends": ["stylelint-config-vaadin"],
  "plugins": ["./custom-linter-rules/no-shorthand-with-unresolved-longhand.js"],
  "overrides": [
    { "files": ["**/*.js"], "customSyntax": "postcss-lit" },
    {
      "files": ["**/*.css"],
      "rules": {
        "custom-linter-rules/no-shorthand-with-unresolved-longhand": true
      }
    }
  ],
  "rules": {
    "no-duplicate-selectors": true
  }
}
