{
  "extends": ["stylelint-config-vaadin"],
  "plugins": [
    "./custom-rules/stylelint/no-shorthand-with-unresolved-longhand.js",
    "./custom-rules/stylelint/license-header.js",
    "./custom-rules/stylelint/use-layers.js"
  ],
  "overrides": [
    { "files": ["**/*.js"], "customSyntax": "postcss-lit" },
    {
      "files": ["**/*-base-styles.js"],
      "rules": {
        "custom-rules/use-layers": ["^(vaadin\\.)?base$"]
      }
    },
    {
      "files": ["packages/vaadin-lumo-styles/**/*.css"],
      "rules": {
        "custom-rules/no-shorthand-with-unresolved-longhand": true,
        "custom-rules/license-header": true
      }
    },
    {
      "files": ["packages/vaadin-lumo-styles/components/*.css"],
      "rules": {
        "custom-property-empty-line-before": null
      }
    }
  ],
  "rules": {
    "no-duplicate-selectors": true
  }
}
