.classpath
.factorypath
*.project
*.settings

# Mac
*.DS_Store

# Intellij Idea files
.idea
*.iml

# VS Code
.vscode

# Java files
*pom.xml.versionsBackup
**/target

# NodeJS files
**/dist
node_modules

# Testing files
.coverage

# Generated sources
/packages/**/css
/packages/**/generated
/packages/**/src/generated
/packages/**/*.d.ts
/packages/**/*.d.ts.map
/packages/**/*.js
/packages/**/*.js.map
!/*.config.js
