vaadin-text-field,
vaadin-email-field,
vaadin-integer-field,
vaadin-number-field,
vaadin-password-field,
vaadin-select {
  &[focused] input {
    caret-color: transparent;
  }

  &::part(label),
  &::part(field-button),
  &::part(helper-text),
  &::part(input-field),
  &::part(error-message),
  &::part(required-indicator),
  & input:placeholder-shown {
    &,
    &::before,
    &::after {
      animation: none !important;
      transition: none !important;
    }
  }
}

vaadin-select[opening]::part(overlay),
vaadin-select[closing]::part(overlay) {
  animation: none !important;
}
