vaadin-multi-select-combo-box[opening]::part(overlay),
vaadin-multi-select-combo-box[closing]::part(overlay) {
  animation: none !important;
  transition: none !important;
}

/* Stop loader animation */
vaadin-multi-select-combo-box[loading]::part(loader) {
  animation: none;
  opacity: 1;
}

/* Hide caret */
vaadin-multi-select-combo-box[focused]:not([has-value]) input:focus,
vaadin-multi-select-combo-box[focused][has-value] input:focus {
  caret-color: transparent !important;
}

/* Disable animation */
vaadin-multi-select-combo-box::part(label),
vaadin-multi-select-combo-box::part(field-button),
vaadin-multi-select-combo-box::part(helper-text),
vaadin-multi-select-combo-box::part(input-field),
vaadin-multi-select-combo-box::part(error-message),
vaadin-multi-select-combo-box::part(required-indicator),
vaadin-multi-select-combo-box input:placeholder-shown {
  &,
  &::before,
  &::after {
    animation: none !important;
    transition: none !important;
  }
}
