vaadin-multi-select-combo-box::part(overlay) {
  animation: none !important;
  transition: none !important;
}

/* Stop loader animation */
vaadin-multi-select-combo-box::part(loader) {
  animation: none !important;
  opacity: 1 !important;
}

/* Hide caret */
vaadin-multi-select-combo-box input {
  caret-color: transparent !important;
}

/* Disable animation */
vaadin-multi-select-combo-box::part(label),
vaadin-multi-select-combo-box::part(field-button),
vaadin-multi-select-combo-box::part(helper-text),
vaadin-multi-select-combo-box::part(input-field),
vaadin-multi-select-combo-box::part(error-message),
vaadin-multi-select-combo-box::part(required-indicator),
vaadin-multi-select-combo-box input:placeholder-shown {
  &,
  &::before,
  &::after {
    animation: none !important;
    transition: none !important;
  }
}
