:where(:root),
:where(:host) {
  --aura-app-layout-inset: 1.5vmin;
  --aura-app-layout-radius: var(--vaadin-radius-l);
  --_aura-mdl-border: 1px;
  /* Use px to ensure calc/min/max work */
  --vaadin-app-layout-navbar-padding-top: 0px;
  --vaadin-app-layout-navbar-padding-bottom: 0px;
  --vaadin-app-layout-navbar-padding-inline-start: 0px;
  --vaadin-app-layout-navbar-padding-inline-end: 0px;
}

/* Aligned with App Layout overlay breakpoint */
@media (width <= 800px), (height <= 600px) {
  html {
    --aura-app-layout-inset: 0px !important;
    --_aura-mdl-border: 0px;
  }
}

vaadin-app-layout {
  --_app-layout-radius: clamp(0px, var(--aura-app-layout-radius), var(--aura-app-layout-inset) * 100);
  padding-block: var(--aura-app-layout-inset);
  padding-inline-end: var(--aura-app-layout-inset);
  padding-top: calc(var(--aura-app-layout-inset) + var(--_vaadin-app-layout-navbar-offset-size));
}

vaadin-app-layout[overlay]::part(drawer) {
  --vaadin-app-layout-drawer-background: var(--aura-surface-color);
  --aura-surface-opacity: var(--aura-overlay-surface-opacity);
  -webkit-backdrop-filter: var(--aura-overlay-backdrop-filter);
  backdrop-filter: var(--aura-overlay-backdrop-filter);
}

vaadin-app-layout:is([overlay], :not([drawer-opened])) {
  padding-inline-start: var(--aura-app-layout-inset);
}

vaadin-app-layout::part(navbar) {
  justify-content: space-between;
  --vaadin-app-layout-navbar-background: transparent;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

vaadin-app-layout:not([overlay])::part(drawer) {
  padding-block: var(--aura-app-layout-inset);
  padding-inline: max(0px, var(--aura-app-layout-inset) - var(--vaadin-padding-s));
}

vaadin-app-layout > vaadin-scroller[slot='drawer'] {
  --vaadin-scroller-padding-inline: var(--vaadin-padding-m);
  scrollbar-width: thin;
}

vaadin-app-layout > vaadin-scroller:nth-child(1 of [slot='drawer']) {
  /* TODO would need a dedicated padding-top property */
  --vaadin-scroller-padding-block: var(--vaadin-padding-s);
}

vaadin-app-layout > vaadin-scroller:nth-last-child(1 of [slot='drawer']) {
  /* TODO would need a dedicated padding-bottom property */
  --vaadin-scroller-padding-block: var(--vaadin-padding-s);
}

vaadin-app-layout > :nth-child(1 of :not([slot])):nth-last-child(1 of :not([slot])) {
  color-scheme: var(--aura-content-color-scheme);
  color: var(--vaadin-text-color);
  background: linear-gradient(var(--aura-surface-color), var(--aura-surface-color)), var(--aura-app-background);
  background-clip: padding-box;
  background-origin: border-box;
  min-height: 100%;
  box-sizing: border-box;
  border-radius: var(--_app-layout-radius);
  border: var(--_aura-mdl-border) solid var(--vaadin-border-color-secondary);
  border-block-width: min(var(--aura-app-layout-inset), var(--_aura-mdl-border));
  border-inline-end-width: min(var(--aura-app-layout-inset), var(--_aura-mdl-border));
}

vaadin-app-layout > vaadin-master-detail-layout:nth-child(1 of :not([slot])):nth-last-child(1 of :not([slot])) {
  margin-inline: calc(var(--safe-area-inset-left) * -1) calc(var(--safe-area-inset-right) * -1);
  padding-inline: var(--safe-area-inset-left) var(--safe-area-inset-right);
  max-width: calc(100% + var(--safe-area-inset-left) + var(--safe-area-inset-right));
  margin-block: calc(var(--safe-area-inset-top) * -1) calc(var(--safe-area-inset-bottom) * -1);
  padding-block: var(--safe-area-inset-top) var(--safe-area-inset-bottom);
  height: calc(100% + var(--safe-area-inset-top) + var(--safe-area-inset-bottom));
  max-height: calc(100% + var(--safe-area-inset-top) + var(--safe-area-inset-bottom));

  &::part(detail) {
    padding-top: var(--safe-area-inset-top);
    padding-bottom: var(--safe-area-inset-bottom);
  }

  &:dir(ltr)::part(detail) {
    padding-right: var(--safe-area-inset-right);
  }

  &:dir(rtl)::part(detail) {
    padding-left: var(--safe-area-inset-left);
  }

  &[stack]::part(detail) {
    padding-left: var(--safe-area-inset-left);
    padding-right: var(--safe-area-inset-right);
  }

  & > vaadin-master-detail-layout,
  &:not([drawer])::part(detail) {
    border-start-end-radius: var(--_app-layout-radius);
    border-end-end-radius: var(--_app-layout-radius);
  }

  &::part(backdrop) {
    border-radius: calc(var(--_app-layout-radius) - var(--_aura-mdl-border));
  }

  &:is([drawer][has-detail]) {
    border-color: light-dark(var(--vaadin-border-color), var(--vaadin-border-color-secondary));
  }
}

vaadin-app-layout[has-navbar][has-drawer] {
  padding-top: var(--_vaadin-app-layout-navbar-offset-size);

  &::part(drawer) {
    padding-top: var(--safe-area-inset-top);
  }
}

vaadin-app-layout[has-drawer]:not([overlay]):not([drawer-opened])
  > :nth-child(1 of :not([slot])):nth-last-child(1 of :not([slot])) {
  border-inline-start-width: min(var(--aura-app-layout-inset), var(--_aura-mdl-border));
}

vaadin-app-layout[has-navbar][has-drawer][drawer-opened]:not([overlay])
  > :nth-child(1 of :not([slot])):nth-last-child(1 of :not([slot])) {
  border-start-start-radius: var(--aura-app-layout-radius);
}

vaadin-app-layout[has-navbar][has-drawer] > :nth-child(1 of :not([slot])):nth-last-child(1 of :not([slot])) {
  border-top-width: var(--_aura-mdl-border);
}
