@layer vaadin.aura {
  [theme~='badge'] {
    font-size: var(--aura-font-size-s);
    font-weight: var(--aura-font-weight-emphasis);
    line-height: var(--aura-line-height-xs);
    border: 1px solid var(--vaadin-border-color-subtle);
    background: var(--aura-surface-background);
    background-clip: padding-box;
    padding: 0.1em 0.3em;
    border-radius: var(--aura-radius-m);
    min-width: 1em;
    text-align: center;
  }
}
