:where(:root),
:where(:host) {
  --vaadin-breadcrumb-separator-gap: var(--vaadin-gap-xs);
}

vaadin-breadcrumb-item::part(link) {
  transition: color 80ms;
}

vaadin-breadcrumb-item:last-of-type::part(link) {
  font-weight: var(--aura-font-weight-medium);
}

vaadin-breadcrumb-item::part(separator) {
  color: var(--vaadin-text-color-secondary);
}

vaadin-breadcrumb-item:not([disabled]) a::part(link) {
  color: var(--aura-accent-text-color);
}

@media (any-hover: hover) {
  vaadin-breadcrumb-item:not([disabled]):not(:last-of-type)::part(link):hover {
    color: var(--aura-accent-color);
  }
}

vaadin-breadcrumb-item[disabled]::part(link) {
  color: var(--vaadin-text-color-disabled);
}

vaadin-breadcrumb::part(overflow) {
  color: var(--aura-accent-text-color);
  transition: color 80ms;
}

@media (any-hover: hover) {
  vaadin-breadcrumb::part(overflow):hover {
    color: var(--aura-accent-color);
  }
}
