vaadin-button {
  --vaadin-button-border-color: var(--vaadin-border-color);
  --aura-surface-level: 4;
  box-shadow: 0 1px 4px -1px hsla(0, 0%, 0%, 0.07);
  transition:
    scale 220ms,
    filter 220ms;
}

vaadin-button:not([disabled], [aria-disabled='true'])[active] {
  scale: 0.98;
  transition-duration: 50ms;
  filter: brightness(0.95);
}

/*
Increase padding, but only for buttons that don't have an icon in the default slot.
Buttons that place an icon in the default slot are assumed to be icon-only buttons.
*/
vaadin-button:not(:has(vaadin-icon:not([slot]))) {
  --vaadin-button-padding: var(--vaadin-padding-xs) var(--vaadin-padding-m);
}

vaadin-button:not([theme~='primary'], [theme~='tertiary']) {
  --vaadin-button-background: var(--aura-surface) padding-box;
}

vaadin-button[theme~='primary'] {
  --vaadin-button-font-weight: var(--aura-font-weight-strong);
  box-shadow:
    inset 0 0 10px 0 color-mix(in srgb, var(--aura-accent-color) 30%, transparent),
    0 1px 4px -1px hsla(0, 0%, 0%, 0.07);
}
