:where(:root),
:where(:host) {
  --vaadin-radio-button-marker-size: 6px;
  --vaadin-checkbox-size: round(1lh - 2px, 2px);
  --vaadin-radio-button-size: round(1lh - 2px, 2px);
}

vaadin-checkbox {
  --_vaadin-checkable-transition: background-color 100ms;
  --_vaadin-checkable-box-shadow: var(--aura-shadow-xs);
  --_vaadin-checkable-background-image: linear-gradient(
    light-dark(transparent, var(--_shade)),
    transparent 33%,
    transparent 66%,
    light-dark(var(--_shade), transparent)
  );
  --_vaadin-checkable-unchecked-background-clip: padding-box;
  --_vaadin-checkable-before-content: '';
  --_vaadin-checkable-before-position: absolute;
  --_vaadin-checkable-before-inset: calc(var(--vaadin-input-field-border-width, 1px) * -1);
  --_vaadin-checkable-before-border-radius: inherit;
  --_vaadin-checkable-before-background-color: currentColor;
  --_vaadin-checkable-before-opacity: 0;
  --_vaadin-checkable-before-transition: opacity 100ms, background-color 100ms;
  --_vaadin-checkable-hover-before-opacity: 0.04;
  --_vaadin-checkable-active-before-opacity: 0.1;
  --_vaadin-checkable-active-before-background: #000;
}

vaadin-checkbox:not([disabled], [readonly]) {
  --vaadin-checkbox-background: var(--aura-surface-color);
}

vaadin-checkbox:not([readonly], [disabled])::part(checkbox) {
  --aura-surface-level: 4;
  --_shade: color-mix(in srgb, var(--vaadin-border-color-secondary) 50%, transparent);
}

vaadin-checkbox:is([checked], [indeterminate]):not([readonly], [disabled]) {
  --vaadin-checkbox-background: var(--aura-accent-color);
  --vaadin-checkbox-marker-color: var(--aura-accent-contrast-color);
  --vaadin-checkbox-border-color: var(--vaadin-border-color-secondary);
  --_vaadin-checkable-box-shadow: var(--aura-shadow-s);
}

vaadin-radio-button {
  --_vaadin-checkable-transition: background-color 100ms;
  --_vaadin-checkable-box-shadow: var(--aura-shadow-xs);
  --_vaadin-checkable-background-image: linear-gradient(
    light-dark(transparent, var(--_shade)),
    transparent 33%,
    transparent 66%,
    light-dark(var(--_shade), transparent)
  );
  --_vaadin-checkable-unchecked-background-clip: padding-box;
  --_vaadin-checkable-before-content: '';
  --_vaadin-checkable-before-position: absolute;
  --_vaadin-checkable-before-inset: calc(var(--vaadin-input-field-border-width, 1px) * -1);
  --_vaadin-checkable-before-border-radius: inherit;
  --_vaadin-checkable-before-background-color: currentColor;
  --_vaadin-checkable-before-opacity: 0;
  --_vaadin-checkable-before-transition: opacity 100ms, background-color 100ms;
  --_vaadin-checkable-hover-before-opacity: 0.04;
  --_vaadin-checkable-active-before-opacity: 0.1;
  --_vaadin-checkable-active-before-background: #000;
}

vaadin-radio-button:not([disabled], [readonly]) {
  --vaadin-radio-button-background: var(--aura-surface-color);
}

vaadin-radio-button:not([disabled])::part(radio) {
  --aura-surface-level: 4;
  --_shade: color-mix(in srgb, var(--vaadin-border-color-secondary) 50%, transparent);
}

vaadin-radio-button[checked]:not([readonly], [disabled]) {
  --vaadin-radio-button-background: var(--aura-accent-color);
  --vaadin-radio-button-marker-color: var(--aura-accent-contrast-color);
  --vaadin-radio-button-border-color: var(--vaadin-border-color-secondary);
  --_vaadin-checkable-box-shadow: var(--aura-shadow-s);
}
