:where(:root),
:where(:host) {
  --_lumo-vaadin-confirm-dialog-overlay-inject: 1;
  --_lumo-vaadin-confirm-dialog-overlay-inject-modules: lumo_components_confirm-dialog-overlay, lumo_surface;
}

vaadin-confirm-dialog > :is([slot='cancel-button'], [slot='reject-button'], [slot='confirm-button']) {
  display: flex;
}

@media lumo_components_confirm-dialog-overlay {
  [part~='footer'] {
    width: fit-content;
    margin-inline-start: auto;
  }

  [part~='cancel-button'],
  [part~='reject-button'],
  [part~='confirm-button'] {
    flex: 1;
  }
}
