vaadin-confirm-dialog {
  --_vaadin-confirm-dialog-footer-width: fit-content;
  --_vaadin-confirm-dialog-footer-margin-inline-start: auto;
  --_vaadin-confirm-dialog-action-button-flex: 1;
}

vaadin-confirm-dialog > :is([slot='cancel-button'], [slot='reject-button'], [slot='confirm-button']) {
  display: flex;
}
