:where(:root),
:where(:host) {
  --vaadin-crud-background: var(--aura-surface-color) padding-box;

  --_lumo-vaadin-crud-inject: 1;
  --_lumo-vaadin-crud-inject-modules: lumo_components_crud;
  --_lumo-vaadin-crud-dialog-overlay-inject: 1;
  --_lumo-vaadin-crud-dialog-overlay-inject-modules: lumo_surface;
}

vaadin-crud-edit {
  padding: var(--vaadin-padding-xs);
  --vaadin-icon-visual-size: 0.75lh;
}

vaadin-crud vaadin-confirm-dialog {
  color-scheme: inherit;
}

@media lumo_components_crud {
  [part~='editor'] {
    background: var(--aura-surface-color);
  }
}
