:where(:root),
:where(:host) {
  --vaadin-dashboard-widget-title-font-weight: var(--aura-font-weight-medium);
  --vaadin-dashboard-widget-header-padding: var(--vaadin-padding-s) var(--vaadin-padding-m);
  --vaadin-dashboard-widget-header-gap: var(--vaadin-gap-xs);
  --vaadin-dashboard-widget-border-radius: var(--vaadin-radius-m);
}

vaadin-dashboard-widget {
  --aura-surface-level: 2;
  --aura-surface-opacity: 0.5;
  background: var(--vaadin-dashboard-widget-background, var(--aura-surface-color) padding-box);
  border-radius: calc(var(--vaadin-dashboard-widget-border-radius) - var(--vaadin-dashboard-widget-border-width, 1px));
  --_vaadin-dashboard-widget-content-transition: 200ms;
  --_vaadin-dashboard-widget-content-transition-property: filter, opacity;

  &::before {
    inset: calc(var(--vaadin-dashboard-widget-border-width, 1px) * -1);
    border-radius: var(--vaadin-dashboard-widget-border-radius);
  }

  &:is([resize-mode], [move-mode]) {
    --_vaadin-dashboard-widget-content-opacity: 0.75;
    --_vaadin-dashboard-widget-content-filter: blur(10px);
    --_vaadin-dashboard-widget-content-clip-path: inset(0);
    --_vaadin-dashboard-widget-content-transition: 50ms;
  }

  &[theme~='outlined'] {
    --vaadin-dashboard-widget-border-color: var(--vaadin-border-color);
  }

  &[theme~='elevated'] {
    --aura-surface-opacity: 0.7;
    --aura-surface-level: 3;
    box-shadow: var(--vaadin-dashboard-widget-shadow, var(--aura-shadow-s));
  }

  &[editable] {
    box-shadow: var(--vaadin-dashboard-widget-shadow, var(--aura-shadow-s));
  }
}

vaadin-dashboard-section {
  vaadin-dashboard-widget {
    transition: 200ms;
    transition-property: filter, opacity;
  }

  &[move-mode] vaadin-dashboard-widget {
    opacity: 0.75;
    filter: blur(10px);
    clip-path: inset(0);
    transition-duration: 50ms;
  }
}

:is(vaadin-dashboard-widget, vaadin-dashboard-section) {
  --_vaadin-dashboard-dir-button-background: var(--aura-surface-color) padding-box;
  --_vaadin-dashboard-dir-button-color: var(--vaadin-text-color-secondary);
  --_vaadin-dashboard-dir-button-border: 1px solid var(--vaadin-border-color);
  --_vaadin-dashboard-dir-button-transition: 120ms color;
  --_vaadin-dashboard-dir-button-outline-offset: -1px;
  --_vaadin-dashboard-height-button-margin-top: 0;
  --_vaadin-dashboard-height-button-border-bottom: 0;
  --_vaadin-dashboard-forward-button-margin-inline-start: 0;
  --_vaadin-dashboard-forward-button-border-inline-end: 0;
  --_vaadin-dashboard-backward-button-margin-inline-end: 0;
  --_vaadin-dashboard-backward-button-border-inline-start: 0;
  --_vaadin-dashboard-apply-button-background: var(--aura-accent-color);
  --_vaadin-dashboard-apply-button-color: var(--aura-accent-contrast-color);
  --_vaadin-dashboard-apply-button-box-shadow: 0 0 0 3px var(--aura-surface-color);
  --_vaadin-dashboard-apply-button-outline-offset: 2px;
  --_vaadin-dashboard-action-button-color: var(--vaadin-text-color-disabled);
  --_vaadin-dashboard-action-button-transition: 120ms color;
  --_vaadin-dashboard-action-button-outline-offset: -2px;
  --_vaadin-dashboard-button-hover-color: var(--vaadin-text-color);

  &[editable] {
    --vaadin-dashboard-widget-header-padding: var(--vaadin-padding-xs);
  }
}
