html {
  --vaadin-date-picker-year-scroller-background: transparent;
  --vaadin-date-picker-month-header-font-weight: var(--aura-font-weight-semibold);
  --vaadin-date-picker-date-width: calc(var(--aura-font-size-m) * 2);
  --vaadin-date-picker-year-scroller-width: calc(var(--aura-font-size-m) * 3);
  /* TODO add/use selection color */
  --vaadin-date-picker-date-selected-background: var(--aura-accent-color);
  --vaadin-date-picker-date-selected-color: var(--aura-accent-contrast);
}

vaadin-date-picker-month-scroller {
  background: var(--aura-surface);
}

vaadin-date-picker-year-scroller::before {
  width: 12px;
  height: 12px;
  background-clip: padding-box;
}

vaadin-date-picker-year::part(year-number) {
  font-size: var(--aura-font-size-s);
  font-weight: var(--aura-font-weight-medium);
}
