:where(:root),
:where(:host) {
  --vaadin-dialog-title-font-size: var(--aura-font-size-l);
  --vaadin-dialog-border-width: 0px;

  --_lumo-vaadin-dialog-overlay-inject: 1;
  --_lumo-vaadin-dialog-overlay-inject-modules: lumo_components_dialog-overlay, lumo_surface;
  --_lumo-vaadin-confirm-dialog-overlay-inject: 1;
  --_lumo-vaadin-confirm-dialog-overlay-inject-modules: lumo_components_confirm-dialog-overlay, lumo_surface;
}

vaadin-dialog,
vaadin-confirm-dialog {
  color-scheme: var(--aura-content-color-scheme, var(--aura-color-scheme));
}

@media lumo_components_dialog-overlay {
  [part~='overlay'] {
    background: var(--vaadin-dialog-background, var(--vaadin-overlay-background, var(--aura-surface-color)));
    box-shadow:
      var(--aura-overlay-outline-shadow),
      var(--vaadin-dialog-shadow, var(--vaadin-overlay-shadow, var(--aura-overlay-shadow)));
    --aura-surface-level: 2;
    --aura-surface-opacity: var(--aura-overlay-surface-opacity);
  }
}

@media lumo_components_confirm-dialog-overlay {
  [part~='overlay'] {
    background: var(--vaadin-dialog-background, var(--vaadin-overlay-background, var(--aura-surface-color)));
    box-shadow:
      var(--aura-overlay-outline-shadow),
      var(--vaadin-dialog-shadow, var(--vaadin-overlay-shadow, var(--aura-overlay-shadow)));
    --aura-surface-level: 2;
    --aura-surface-opacity: var(--aura-overlay-surface-opacity);
  }

  [part~='message'] {
    color: var(--vaadin-text-color-secondary);
  }
}
