:where(:root),
:where(:host) {
  --vaadin-dialog-title-font-size: var(--aura-font-size-l);
  --vaadin-dialog-border-width: 0px;
}

vaadin-dialog,
vaadin-confirm-dialog {
  color-scheme: var(--aura-content-color-scheme, var(--aura-color-scheme));
}

vaadin-dialog::part(overlay),
vaadin-confirm-dialog::part(overlay) {
  background: var(--vaadin-dialog-background, var(--vaadin-overlay-background, var(--aura-surface-color)));
  box-shadow:
    var(--aura-overlay-outline-shadow),
    var(--vaadin-dialog-shadow, var(--vaadin-overlay-shadow, var(--aura-overlay-shadow)));
  --aura-surface-level: 3;
  --aura-surface-opacity: var(--aura-overlay-surface-opacity);
}

vaadin-confirm-dialog::part(message) {
  color: var(--vaadin-text-color-secondary);
}
