html,
[theme] {
  --vaadin-input-field-background: var(--aura-surface);
  /* TODO disabled background? */
}

::part(input-field),
vaadin-message-input,
vaadin-input-container {
  --vaadin-input-field-background: var(--aura-surface);
  --aura-surface-level: 5;
  --aura-surface-opacity: 0.7;
  background-clip: padding-box;
}

:not([readonly], [disabled])::part(input-field),
vaadin-message-input:not([readonly], [disabled]) {
  box-shadow: 0 2px 1px -1px hsla(0, 0%, 0%, 0.07);
}

[disabled]::part(input-field) {
  --aura-surface-opacity: 0.5;
  --aura-surface-level: 3;
}

/* TODO invalid field styles */

/* TODO there should be single selector to target all field buttons */
::part(decrease-button),
::part(increase-button),
::part(toggle-button),
::part(clear-button),
::part(reveal-button) {
  transition: color 100ms;
}

::part(decrease-button):hover,
::part(increase-button):hover,
::part(toggle-button):hover,
::part(clear-button):hover,
::part(reveal-button):hover {
  color: var(--vaadin-color);
}
