:where(:root),
:where(:host) {
  --vaadin-login-form-error-color: var(--aura-red-text);
  --vaadin-login-form-padding: var(--vaadin-padding-xl);
  --vaadin-login-overlay-brand-padding: var(--vaadin-padding-xl);
  --vaadin-login-overlay-brand-background: transparent;
  --vaadin-login-overlay-title-font-size: 1.5em;
  --vaadin-login-overlay-title-line-height: 1.2;
  --vaadin-login-overlay-title-font-weight: var(--aura-font-weight-semibold);
  --vaadin-login-overlay-title-color: var(--vaadin-text-color);
  --vaadin-login-overlay-description-color: var(--vaadin-text-color-secondary);
}

vaadin-login-form {
  --_vaadin-login-form-error-message-border-radius: var(--vaadin-radius-m);
  --_vaadin-login-form-error-message-padding: var(--vaadin-padding-m);
  --_vaadin-login-form-error-message-background: color-mix(in srgb, var(--aura-red) 10%, transparent);
  --_vaadin-login-form-error-message-title-font-weight: var(--aura-font-weight-semibold);
}

vaadin-login-overlay {
  --vaadin-overlay-backdrop-background: var(--aura-app-background);
  --vaadin-login-overlay-background: var(--vaadin-overlay-background, var(--aura-surface-color));
  --vaadin-login-overlay-shadow:
    var(--aura-overlay-outline-shadow), var(--vaadin-overlay-shadow, var(--aura-overlay-shadow));
  --_vaadin-login-overlay-brand-text-align: center;
  --_vaadin-login-overlay-brand-padding-bottom: 0;
  --_vaadin-login-overlay-form-title-display: none;

  &::part(overlay) {
    --aura-surface-level: 2;
  }

  [slot='title'] {
    letter-spacing: -0.03em;
  }
}
