vaadin-master-detail-layout::part(detail) {
  --aura-surface-level: 3;
}

vaadin-master-detail-layout[drawer]::part(detail) {
  --aura-surface-opacity: 0.7;
  background: var(--aura-surface) padding-box;
  -webkit-backdrop-filter: blur(12px) brightness(1.15) saturate(1.2);
  backdrop-filter: blur(12px) brightness(1.15) saturate(1.25);
  box-shadow: var(--aura-overlay-shadow);
}

/* TODO could be a built-in variant */
vaadin-master-detail-layout[theme~='inset-drawer'][drawer]::part(detail),
vaadin-master-detail-layout[containment='viewport'][drawer]::part(detail) {
  margin: calc(var(--aura-app-layout-inset) / 2);
  border-radius: var(--_app-layout-radius);
}

vaadin-master-detail-layout > vaadin-master-detail-layout,
vaadin-master-detail-layout:not([drawer])::part(detail) {
  border-start-end-radius: var(--_app-layout-radius);
  border-end-end-radius: var(--_app-layout-radius);
}

/* TODO these end up affecting app MDLs, not just the one directly inside the App Layout */
::view-transition-group(vaadin-mdl-backdrop),
::view-transition-group(vaadin-mdl-master),
::view-transition-group(vaadin-mdl-detail) {
  border-radius: var(--_app-layout-radius);
  overflow: hidden;
}

/* ::view-transition-group(vaadin-mdl-detail.viewport) {
    border-radius: 0;
    overflow: visible;
  } */
