vaadin-menu-bar:not([has-single-button]) vaadin-menu-bar-button:not([first-visible], [focus-ring]) {
  clip-path: inset(-10px -10px -10px max(-10px, var(--vaadin-menu-bar-gap, 0px) * -1 + 0.8px));
}

vaadin-menu-bar-button[slot='overflow'] {
  font-family: system-ui, sans-serif;
  font-weight: 600;
}

vaadin-menu-bar-button[aria-haspopup='true'] {
  --_vaadin-menu-bar-suffix-after-icon-visual-size: 90%;
}

vaadin-menu-bar-button > vaadin-menu-bar-item {
  padding-inline: 0;
  --_vaadin-menu-bar-item-content-padding-inline: 0;
  --_vaadin-menu-bar-item-content-gap: var(--vaadin-button-gap, var(--vaadin-gap-s));
}
