@container not style(--vaadin-menu-bar-gap) {
  vaadin-menu-bar-button:not(:first-of-type) {
    border-inline-start-color: transparent;
  }
}

@media (any-hover: hover) {
  vaadin-menu-bar-button vaadin-menu-bar-item:not([disabled]):hover {
    background: transparent;
  }
}
