:where(:root),
:where(:host) {
  --vaadin-message-attachment-font-weight: var(--aura-font-weight-medium);
  --vaadin-message-attachment-border-width: 1px;
}

vaadin-message::part(attachment) {
  --aura-surface-level: 4;
  background: var(--vaadin-message-attachment-background, var(--aura-surface-color) padding-box);
}

vaadin-message::part(attachment-icon) {
  background: color-mix(in srgb, var(--aura-accent-color) 10%, transparent);
  color: var(--aura-accent-color);
}
