:where(:root),
:where(:host) {
  --vaadin-message-attachment-font-weight: var(--aura-font-weight-medium);
  --vaadin-message-attachment-border-width: 1px;
}

vaadin-message {
  --vaadin-message-attachment-background: var(--aura-surface-color) padding-box;
  --_vaadin-message-attachment-icon-background: color-mix(in srgb, var(--aura-accent-color) 10%, transparent);
  --_vaadin-message-attachment-icon-color: var(--aura-accent-color);
}

vaadin-message::part(attachment) {
  --aura-surface-level: 4;
}
