:where(:root),
:where(:host) {
  --vaadin-chip-padding: 0.4em;
  --vaadin-chip-background: var(--vaadin-background-container-strong);
  --vaadin-chip-height: 1lh;
  --vaadin-chip-border-radius: var(--vaadin-radius-s);
  --vaadin-chip-border-width: 0px;
}

vaadin-multi-select-combo-box-chip {
  --vaadin-icon-size: 1.25em;
}

vaadin-multi-select-combo-box-select-all-button {
  padding-inline: max(0px, var(--vaadin-padding-inline-container) - var(--aura-item-overlay-padding-inline));
  font-size: var(--aura-font-size-s);
  color: var(--aura-accent-text-color);
  font-weight: var(--aura-font-weight-medium);

  &::before {
    margin-inline-end: var(--vaadin-gap-xs);
  }

  @media (any-hover: hover) {
    &:hover {
      background: var(--_aura-highlight-color);
    }
  }
}
