:where(:root),
:where(:host) {
  --vaadin-chip-padding: 0.4em;
  --vaadin-chip-background: var(--vaadin-background-container-strong);
  --vaadin-chip-height: 1lh;
  --vaadin-chip-border-radius: var(--vaadin-radius-s);
  --vaadin-chip-border-width: 0px;
}

vaadin-multi-select-combo-box-chip {
  --vaadin-icon-size: 1.25em;
}

vaadin-multi-select-combo-box::part(select-all) {
  padding-inline: var(--vaadin-padding-s);
  border-radius: var(--vaadin-item-border-radius);
  color: var(--aura-accent-text-color);
  font-weight: var(--aura-font-weight-medium);
}

@media (any-hover: hover) {
  vaadin-multi-select-combo-box::part(select-all):hover {
    background: var(--_aura-highlight-color);
  }
}
