:where(:root),
:where(:host) {
  --vaadin-chip-padding: 0.4em;
  --vaadin-chip-background: var(--vaadin-background-container-strong);
  --vaadin-chip-height: 1lh;
  --vaadin-chip-border-radius: var(--vaadin-radius-s);
  --vaadin-chip-border-width: 0px;
}

vaadin-multi-select-combo-box-chip {
  --vaadin-icon-size: 1.25em;
}
