vaadin-popover {
  --vaadin-popover-background: var(--vaadin-overlay-background, var(--aura-surface-color));
  --vaadin-popover-shadow: var(--aura-overlay-outline-shadow), var(--vaadin-overlay-shadow, var(--aura-overlay-shadow));
  --_vaadin-overlay-arrow-background: var(
    --vaadin-popover-background,
    var(--vaadin-overlay-background, var(--aura-surface-color))
  );
}
