:where(:root),
:where(:host) {
  --vaadin-rich-text-editor-toolbar-background: transparent;
  --vaadin-rich-text-editor-toolbar-padding: var(--vaadin-padding-xs);
  --vaadin-rich-text-editor-toolbar-gap: var(--vaadin-gap-xs) var(--vaadin-gap-m);
  --vaadin-rich-text-editor-toolbar-button-background: transparent;
  --vaadin-rich-text-editor-toolbar-button-border-radius: calc(var(--vaadin-radius-m) - 2px);
  --vaadin-rich-text-editor-toolbar-button-padding: var(--vaadin-padding-xs);
}

vaadin-rich-text-editor {
  --vaadin-icon-visual-size: 90%;
  background: var(--vaadin-rich-text-editor-background, var(--aura-surface-color) padding-box);
  --aura-surface-level: 4;
  --aura-surface-opacity: 0.7 !important;
  box-shadow: var(--aura-shadow-xs);
  --_vaadin-rte-toolbar-contain: paint;
  --_vaadin-rte-toolbar-border-bottom: 1px solid var(--vaadin-border-color-secondary);
  --_vaadin-rte-toolbar-group-gap: 1px;
  --_vaadin-rte-toolbar-group-align-items: center;
  --_vaadin-rte-toolbar-group-before-content: '';
  --_vaadin-rte-toolbar-group-before-position: absolute;
  --_vaadin-rte-toolbar-group-before-width: 1px;
  --_vaadin-rte-toolbar-group-before-height: 1lh;
  --_vaadin-rte-toolbar-group-before-background: var(--vaadin-border-color-secondary);
  --_vaadin-rte-toolbar-group-before-translate: calc(var(--vaadin-gap-m) / -2);
  --_vaadin-rte-toolbar-button-transition: color 80ms, background-color 80ms, scale 180ms;
  --_vaadin-rte-toolbar-button-outline-offset: calc(var(--vaadin-focus-ring-width) * -1);
  --_vaadin-rte-toolbar-button-position: relative;
  --_vaadin-rte-toolbar-button-color: var(--vaadin-text-color-secondary);
  --_vaadin-rte-toolbar-button-active-scale: 0.95;
  --_vaadin-rte-toolbar-button-active-transition-duration: 80ms, 80ms, 50ms;
  --_vaadin-rte-toolbar-button-hover-background: var(--vaadin-background-container);
  --_vaadin-rte-toolbar-button-hover-color: var(--vaadin-text-color);
  --_vaadin-rte-toolbar-button-pressed-background: transparent;
  --_vaadin-rte-toolbar-button-focus-pressed-background: var(--vaadin-background-container-strong) padding-box;
  --_vaadin-rte-toolbar-button-focus-pressed-color: var(--vaadin-text-color);
  --_vaadin-rte-toolbar-button-focus-pressed-border-color: var(--vaadin-text-color-disabled);

  &:not(:focus-within) {
    --vaadin-rich-text-editor-toolbar-button-text-color: var(--vaadin-text-color-disabled);
  }
}
