:where(:root),
:where(:host) {
  --vaadin-slider-track-background: var(--vaadin-background-container-strong);
  --vaadin-slider-track-height: var(--vaadin-gap-xs);
  --vaadin-slider-fill-border-color: var(--vaadin-border-color-secondary);
  --vaadin-slider-thumb-width: round(1lh - 4px, 2px);
  --vaadin-slider-thumb-height: round(1lh - 4px, 2px);
  --vaadin-slider-marks-font-size: var(--aura-font-size-xs);
}

:is(vaadin-slider, vaadin-range-slider) {
  --vaadin-slider-fill-background: linear-gradient(
      var(--_bg-dir, 90deg) in oklab,
      var(--aura-accent-color),
      light-dark(
        oklch(
          from var(--aura-accent-color-light) clamp(0.5, l * 1.2, 1) c calc(h - 30 * var(--_vaadin-safari-17-deg, 1))
        ),
        oklch(
          from var(--aura-accent-color-dark) clamp(0.5, l * 1.2, 1) c calc(h - 30 * var(--_vaadin-safari-17-deg, 1))
        )
      )
    )
    border-box;

  &:dir(rtl) {
    --_bg-dir: -90deg;
  }

  &::part(track-fill) {
    margin-inline: calc(var(--vaadin-slider-thumb-width) - 1px) -1px;
  }

  &::part(thumb) {
    position: relative;
    --aura-surface-level: 1.5;
    background: var(
        --vaadin-slider-thumb-background,
        linear-gradient(
            light-dark(transparent, var(--vaadin-border-color-secondary)),
            transparent 33%,
            transparent 66%,
            light-dark(var(--vaadin-border-color-secondary), transparent)
          )
          var(--aura-surface-color-solid)
      )
      border-box;
    border-color: var(--vaadin-slider-thumb-border-color, light-dark(transparent, var(--vaadin-border-color)));
    outline-offset: -1px;
    box-shadow:
      0 0 0 1px light-dark(var(--vaadin-border-color), transparent),
      var(--_thumb-shadow, var(--aura-shadow-s));
  }

  &:is([readonly], [disabled]) {
    --vaadin-slider-fill-background: var(--vaadin-border-color);
    --vaadin-slider-fill-border-color: transparent;
    --vaadin-slider-thumb-border-color: light-dark(transparent, var(--vaadin-border-color));
    --_thumb-shadow: 0 0 0 0 transparent;
  }

  &[disabled] {
    --vaadin-slider-track-background: var(--vaadin-background-container);
    --vaadin-slider-fill-background: var(--vaadin-border-color-secondary);

    &::part(thumb) {
      --vaadin-slider-thumb-background: linear-gradient(var(--vaadin-border-color), var(--vaadin-border-color))
        var(--vaadin-background-color);
      --vaadin-slider-thumb-border-color: transparent;
      box-shadow: none;
    }
  }

  &::part(thumb)::before {
    content: '';
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    background-color: #000;
    opacity: 0;
    transition:
      opacity 100ms,
      background-color 100ms;
  }
}

vaadin-slider[active]:not([readonly], [disabled])::part(thumb)::before,
vaadin-range-slider[start-active]:not([readonly], [disabled])::part(thumb-start)::before,
vaadin-range-slider[end-active]:not([readonly], [disabled])::part(thumb-end)::before {
  opacity: 0.1;
}
