vaadin-input-container input {
  caret-color: transparent;
}

vaadin-input-container,
vaadin-input-container::before,
vaadin-input-container::after {
  animation: none !important;
  transition: none !important;
}
