.aura-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.aura-view > :not(header, footer) {
  flex: 1;
}

.aura-view > vaadin-scroller {
  padding-inline: var(--vaadin-padding-m);
}

.aura-view > :is(header, footer),
:is(.aura-view-header, .aura-view-footer) {
  padding: var(--vaadin-padding-m);
  display: flex;
  align-items: center;
}

:is(.aura-view > header, .aura-view-header) :is(h1, h2, h3, h4, h5, h6, .aura-view-heading) {
  margin: 0;
  padding-block: round(var(--vaadin-padding-s) / 1.4 + var(--vaadin-button-border-width, 1px), 1px);
  font-size: var(--aura-font-size-l);
  font-weight: var(--aura-font-weight-semibold);
  line-height: var(--aura-line-height-m);
  color: var(--vaadin-text-color);
  flex: 1;

  &:first-child {
    padding-inline-start: var(--vaadin-padding-s);
  }

  &:last-child {
    padding-inline-end: var(--vaadin-padding-s);
  }
}

vaadin-app-layout:is([drawer-opened], :has(> [slot='navbar'] vaadin-drawer-toggle))
  :is(.aura-view > header, .aura-view-header)
  vaadin-drawer-toggle:not([theme~='permanent']),
vaadin-master-detail-layout:not([drawer], [stack]) [slot='detail'].aura-view > header mdl-back-button,
vaadin-master-detail-layout:not([drawer], [stack]) [slot='detail'] .aura-view > header mdl-back-button {
  display: none;

  & + :is(h1, h2, h3, h4, h5, h6, .aura-view-heading) {
    padding-inline-start: var(--vaadin-padding-s);
  }
}
