[theme~='badge'] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  font-size: var(--aura-font-size-s);
  font-weight: var(--aura-font-weight-medium);
  height: calc(1lh - 2px);
  border: 1px solid var(--aura-accent-border-color);
  background-color: color-mix(in srgb, var(--aura-accent-color) 10%, transparent);
  background-clip: padding-box;
  color: var(--aura-accent-text-color);
  padding: 0 0.5em;
  border-radius: var(--vaadin-radius-l);
  min-width: calc(1lh - 1em - 2px);
  --vaadin-icon-size: 0.75lh;
}

[theme~='badge'][theme~='neutral'] {
  --aura-accent-color-light: var(--aura-text-color-light);
  --aura-accent-color-dark: var(--aura-text-color-dark);
  --aura-accent-color: light-dark(var(--aura-accent-color-light), var(--aura-accent-color-dark));
}

[theme~='badge'][theme~='filled'] {
  background: var(--aura-accent-color);
  color: var(--aura-accent-contrast-color);
  border-color: transparent;
}

[theme~='badge'][theme~='point']::before {
  content: '';
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background: currentColor;
}
