:where(:root),
:where(:host) {
  --vaadin-avatar-size: var(--lumo-size-m);
  --vaadin-avatar-font-weight: 500;
}

:where(vaadin-avatar) {
  &[theme~='xsmall'] {
    --vaadin-avatar-size: var(--lumo-size-xs);
  }

  &[theme~='small'] {
    --vaadin-avatar-size: var(--lumo-size-s);
  }

  &[theme~='large'] {
    --vaadin-avatar-size: var(--lumo-size-l);
  }

  &[theme~='xlarge'] {
    --vaadin-avatar-size: var(--lumo-size-xl);
  }

  &::part(abbr) {
    font-size: 2.4375em;
  }

  &[theme~='xsmall']::part(abbr) {
    font-size: 3em;
  }

  &[theme~='large']::part(abbr) {
    font-size: 2.375em;
  }

  &[theme~='xlarge']::part(abbr) {
    font-size: 2.5em;
  }
}
