:where(:root),
:where(:host) {
  --vaadin-confirm-dialog-min-width: 28em;
  --vaadin-confirm-dialog-max-width: 28em;
}

:where(vaadin-confirm-dialog) {
  &::part(header) {
    margin-inline-start: calc(var(--vaadin-dialog-padding) - var(--lumo-space-m));
  }

  &::part(content) {
    padding-bottom: var(--vaadin-dialog-padding);
  }

  &::part(cancel-button) {
    flex-grow: 1;
  }

  @media (max-width: 360px) {
    &::part(footer) {
      flex-direction: column-reverse;
      align-items: stretch;
      padding: var(--lumo-space-s) var(--lumo-space-l);
      gap: var(--lumo-space-s);
    }

    & > [slot$='button'] {
      width: 100%;
      margin: 0;
    }
  }
}
