:where(:root),
:where(:host) {
  --vaadin-item-gap: var(--lumo-space-xs);
  --vaadin-item-padding: var(--lumo-space-s) var(--lumo-space-xs);
  --vaadin-item-checkmark-color: var(--lumo-primary-text-color);
}

:where(
  vaadin-item,
  vaadin-context-menu-item,
  vaadin-avatar-group-menu-item,
  vaadin-combo-box-item,
  vaadin-time-picker-item,
  vaadin-select-item
) {
  min-height: var(--lumo-size-m);
  line-height: var(--lumo-line-height-xs);
}

:where(vaadin-item, vaadin-context-menu-item, vaadin-combo-box-item, vaadin-time-picker-item, vaadin-select-item)::part(
  checkmark
) {
  --vaadin-icon-visual-size: 80%;
}

@media (any-hover: hover) {
  :where(
      vaadin-item,
      vaadin-context-menu-item,
      vaadin-avatar-group-menu-item,
      vaadin-combo-box-item,
      vaadin-time-picker-item,
      vaadin-select-item
    ):hover:not([disabled]) {
    background-color: var(--lumo-primary-color-10pct);
  }
}

:where(
  vaadin-item,
  vaadin-context-menu-item,
  vaadin-avatar-group-menu-item,
  vaadin-combo-box-item,
  vaadin-time-picker-item,
  vaadin-select-item
)[disabled] {
  opacity: 1;
  color: var(--lumo-disabled-text-color);
}

:where(vaadin-context-menu-item)[expanded] {
  background-color: var(--lumo-primary-color-10pct);
}

:where(vaadin-avatar-group-menu-item) {
  padding: var(--lumo-space-xs);
  padding-inline-end: var(--lumo-space-m);
  --vaadin-avatar-size: var(--lumo-size-xs);
  --vaadin-item-gap: var(--lumo-space-s);
}
