:where(:root),
:where(:host) {
  --vaadin-split-layout-handle-target-size: var(--lumo-size-m);
  --vaadin-split-layout-splitter-background: var(--lumo-contrast-5pct);
  --vaadin-split-layout-handle-background: var(--lumo-contrast-30pct);
}

:where(vaadin-split-layout) {
  &::part(splitter) {
    transition: 0.1s background-color;
  }

  /* The handle reads this var by inheritance */
  &::part(splitter):active {
    --vaadin-split-layout-handle-background: var(--lumo-contrast-50pct);
  }

  @media (any-hover: hover) {
    &::part(splitter):hover {
      --vaadin-split-layout-handle-background: var(--lumo-contrast-40pct);
    }
  }

  &[theme~='small']::part(splitter) {
    --vaadin-split-layout-handle-size: 5px;
    --vaadin-split-layout-splitter-background: var(--lumo-contrast-10pct);
  }

  &[theme~='minimal']::part(splitter) {
    --vaadin-split-layout-splitter-size: 0px;
    --vaadin-split-layout-handle-size: 5px;
    --vaadin-split-layout-splitter-target-size: 5px;
  }

  /* Hidden until hover. Opacity inherits from the splitter. */
  &[theme~='minimal']::part(handle) {
    opacity: var(--_lumo-split-layout-minimal-handle-opacity, 0);
  }

  &[theme~='minimal']::part(splitter):is(:hover, :active),
  &[theme~='minimal'][focus-ring]::part(splitter) {
    --_lumo-split-layout-minimal-handle-opacity: 1;
  }
}
