:where(:root),
:where(:host) {
  --aura-color-scheme: light;
  --aura-content-color-scheme: var(--aura-color-scheme);
  --aura-notification-color-scheme: var(--aura-color-scheme);
}

html {
  color-scheme: var(--aura-color-scheme);
}

[theme~='light'] {
  --aura-color-scheme: light;
}

[theme~='dark'] {
  --aura-color-scheme: dark;
}

[theme~='light-dark'] {
  --aura-color-scheme: light-dark;
}
