:where(:root),
:where(:host) {
  --aura-contrast: 1;

  --aura-accent-color-light: hsl(220, 80%, 47%);
  --aura-accent-color-dark: hsl(220, 75%, 55%);

  --_color-base: light-dark(
    oklch(from var(--aura-background-color-light) 0.1 calc(c / 2 + c * (1 - c)) h),
    oklch(from var(--aura-background-color-dark) 1 c h)
  );
  --aura-text-color-light: color-mix(in srgb, var(--_color-base) calc(90% + 5% * var(--aura-contrast)), transparent);
  --aura-text-color-dark: color-mix(in srgb, #fff calc(90% + 5% * var(--aura-contrast)), transparent);
  --vaadin-text-color: light-dark(var(--aura-text-color-light), var(--aura-text-color-dark));
  --vaadin-text-color-secondary: light-dark(
    color-mix(in srgb, var(--_color-base) calc(55% + 10% * var(--aura-contrast)), transparent),
    color-mix(in srgb, var(--_color-base) calc(57% + 10% * var(--aura-contrast)), transparent)
  );
  --vaadin-text-color-disabled: color-mix(
    in srgb,
    var(--_color-base) calc(30% + 10% * var(--aura-contrast)),
    transparent
  );

  --_border-color-base: light-dark(
    oklch(from var(--aura-background-color-light) 0.1 c h),
    oklch(from var(--aura-background-color-dark) 0.85 c h)
  );
  --vaadin-border-color: color-mix(
    in srgb,
    var(--_border-color-base) calc(14% + 6% * var(--aura-contrast)),
    transparent
  );
  --vaadin-border-color-secondary: light-dark(
    color-mix(in srgb, var(--_border-color-base) max(5%, 5% + 3% * var(--aura-contrast)), transparent),
    color-mix(in srgb, var(--_border-color-base) max(6%, 5% + 5% * var(--aura-contrast)), transparent)
  );

  /* Using static values (vs relative colors) for these backgrounds improves first paint rendering performance quite much (~200ms) */
  --aura-background-color-light: oklch(95% 0.005 260);
  --aura-background-color-dark: oklch(20% 0.01 260);

  --aura-background-color: light-dark(var(--aura-background-color-light), var(--aura-background-color-dark));

  --_bg-alt: oklch(
    from var(--aura-background-color) calc(l + c) min(c, c * 2 - l/20)
      calc(h + 180 * var(--_safari-17-deg, 1deg) * l * c * 4)
  );
  --_bg-accent: radial-gradient(
    circle at 0% 0%,
    light-dark(
      oklch(from var(--aura-background-color-light) min(1, l + c * 3) min(c, c * 3) h),
      oklch(from var(--aura-background-color-dark) min(1, l + c) clamp(0, c * 1.5, 0.4) h)
    ),
    transparent 30%
  );
  --aura-app-background:
    var(--_bg-accent),
    radial-gradient(circle at 25% 0% in xyz, var(--aura-background-color) 33%, var(--_bg-alt))
      var(--aura-background-color);

  --vaadin-focus-ring-color: var(--aura-accent-color);
  accent-color: var(--aura-accent-color);

  /* TODO probably broken for Safari 17 */
  --vaadin-user-color: var(--aura-accent-color);

  --vaadin-background-container: color-mix(
    in srgb,
    var(--_color-base) calc(3% + min(3%, 1% * var(--aura-contrast))),
    transparent
  );

  --vaadin-background-container-strong: color-mix(
    in srgb,
    var(--_color-base) calc(7% + min(8%, 1.5% * var(--aura-contrast))),
    transparent
  );

  color: var(--vaadin-text-color);
  background: var(--aura-app-background);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

:where(:root),
:where(:host),
vaadin-button,
vaadin-context-menu-item,
vaadin-crud-edit,
vaadin-drawer-toggle,
vaadin-menu-bar-button,
vaadin-menu-bar-item,
vaadin-checkbox::part(checkbox),
vaadin-radio-button::part(radio),
vaadin-side-nav-item::part(content),
vaadin-tab {
  --aura-accent-contrast-light: oklch(
    from var(--aura-accent-color-light) clamp(0, (0.62 - l) * 1000, 1) 0 0 / clamp(0.8, (0.62 - l) * 1000, 1)
  );
  --aura-accent-contrast-dark: oklch(
    from var(--aura-accent-color-dark) clamp(0, (0.62 - l) * 1000, 1) 0 0 / clamp(0.8, (0.62 - l) * 1000, 1)
  );

  --aura-accent-text-color-light: color-mix(
    in srgb,
    var(--aura-accent-color-light) calc(70% - 15% * var(--aura-contrast)),
    var(--vaadin-text-color)
  );
  --aura-accent-text-color-dark: color-mix(
    in srgb,
    var(--aura-accent-color-dark) calc(70% - 15% * var(--aura-contrast)),
    var(--vaadin-text-color)
  );

  --aura-accent-color: light-dark(var(--aura-accent-color-light), var(--aura-accent-color-dark));
  --aura-accent-contrast-color: light-dark(var(--aura-accent-contrast-light), var(--aura-accent-contrast-dark));
  --aura-accent-text-color: light-dark(var(--aura-accent-text-color-light), var(--aura-accent-text-color-dark));
}

@supports (color: hsl(0 0 0)) {
  :where(:root),
  :where(:host) {
    --_safari-17-deg: 1;
  }
}

:where(h1, h2, h3, h4, h5, h6) {
  color: var(--vaadin-text-color);
}
