:where(:root),
:where(:host) {
  --aura-shadow-color: light-dark(
    oklch(from var(--aura-background-color-light) calc(l - l * 0.8) calc(c / 10) h / 0.2),
    oklch(from var(--aura-background-color-dark) calc(l - l * 0.8) calc(c / 10) h / 0.2)
  );
  --aura-shadow-xs: 0 1px 4px -2px var(--aura-shadow-color);
  --aura-shadow-s: 0 2px 5px -1px var(--aura-shadow-color);
  --aura-shadow-m: 0 8px 16px -3px var(--aura-shadow-color);
}
