:where(:root),
:where(:host) {
  --aura-base-size: 16;
  --aura-base-radius: 3;
  --vaadin-radius-s: min(0.25lh, round(var(--aura-base-radius) * 1px + 2px, 1px));
  --vaadin-radius-m: round(var(--aura-base-radius) * 2px + 3px, 1px);
  --vaadin-radius-l: round(var(--aura-base-radius) * 1.5px + 10px, 1px);
  --vaadin-icon-stroke-width: 1.75;
}

:where(:root),
:where(:host),
:where([theme]) {
  --vaadin-gap-xs: round(var(--aura-base-size) * 0.25 * 1px, 1px);
  --vaadin-gap-s: round(var(--aura-base-size) * 0.5 * 1px, 1px);
  --vaadin-gap-m: round(var(--aura-base-size) * 0.75 * 1px, 1px);
  --vaadin-gap-l: round(var(--aura-base-size) * 1px, 1px);
  --vaadin-gap-xl: round(var(--aura-base-size) * 1.5 * 1px, 1px);

  --vaadin-padding-block-container: round(var(--vaadin-padding-s) / 1.4, 1px);
  --vaadin-padding-inline-container: max(var(--vaadin-padding-s), round(var(--vaadin-radius-m) / 2, 1px));

  --vaadin-padding-xs: round(var(--aura-base-size) * 0.25 * 1px, 1px);
  --vaadin-padding-s: round(var(--aura-base-size) * 0.5 * 1px, 1px);
  --vaadin-padding-m: round(var(--aura-base-size) * 0.75 * 1px, 1px);
  --vaadin-padding-l: round(var(--aura-base-size) * 1px, 1px);
  --vaadin-padding-xl: round(var(--aura-base-size) * 1.5 * 1px, 1px);
}

@media (pointer: coarse) {
  :where(:root),
  :where(:host) {
    --aura-base-size: 18;
  }
}
