html {
  --aura-surface-level: 2;
  --aura-surface-opacity: 0.5;
}

/* List all elements that are surfaces */
html,
vaadin-app-layout::part(navbar),
vaadin-app-layout::part(drawer),
vaadin-master-detail-layout,
vaadin-master-detail-layout::part(detail),
::part(overlay),
vaadin-side-nav-item::part(content),
[theme~='surface'] {
  --aura-surface-solid: light-dark(
    oklab(
      from var(--aura-background-light) min(1, l + (1 - l) * var(--aura-surface-level))
        min(0, a - a * 0.4 * var(--aura-surface-level)) min(0, b - b * 0.4 * var(--aura-surface-level))
    ),
    oklab(
      from var(--aura-background-dark) max(0, max(0.23, l) + max(0.2, l) * max(0.2, l) / 2 * var(--aura-surface-level))
        calc(a * 1) calc(b * 1)
    )
  );

  --aura-surface: color-mix(in oklab, var(--aura-surface-solid) calc(100% * var(--aura-surface-opacity)), transparent);

  @media (prefers-reduced-transparency: reduce) {
    --aura-surface-opacity: 1;
  }
}

[slot='detail']:has(vaadin-grid)::part(master),
[slot='detail']:has(vaadin-grid) {
  background: var(--aura-surface-solid);
}
