@import './font/InstrumentSans.css';
@import './font/Inter.css';

@layer vaadin.aura {
  html {
    --aura-font-family-system: system-ui, ui-sans-serif, sans-serif;
    --aura-font-family-instrument-sans: 'Instrument Sans', var(--aura-font-family-system);
    --aura-font-family-inter: 'Inter', var(--aura-font-family-system);

    --aura-font-family: var(--aura-font-family-instrument-sans);

    --aura-font-size-xs: calc(12 / 16 * 1rem);
    --aura-font-size-s: calc(14 / 16 * 1rem);
    --aura-font-size-m: calc(16 / 16 * 1rem);
    --aura-font-size-l: calc(18 / 16 * 1rem);
    --aura-font-size-xl: calc(20 / 16 * 1rem);

    --aura-line-height-xs: calc(18 / 16 * 1rem);
    --aura-line-height-s: calc(20 / 16 * 1rem);
    --aura-line-height-m: calc(22 / 16 * 1rem);
    --aura-line-height-l: calc(24 / 16 * 1rem);
    --aura-line-height-xl: calc(28 / 16 * 1rem);

    --aura-font-weight: 400;
    --aura-font-weight-emphasis: 500;
    --aura-font-weight-strong: 600;
  }

  body {
    font-family: var(--aura-font-family);
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--aura-font-size-m);
    line-height: var(--aura-line-height-m);
    font-weight: var(--aura-font-weight);

    /* Set to auto to disable grayscale/anti-aliased font smoothing (and use default sub-pixel anti-aliasing) */
    -webkit-font-smoothing: var(--aura-font-smoothing, antialiased);
    -moz-osx-font-smoothing: var(--aura-font-smoothing, grayscale);

    /* We assume apps are built with responsive layouting in mind */
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    text-wrap: balance;
  }
}
