sudo: false
dist: trusty
language: node_js
node_js: 8.9

cache:
  directories:
    - node_modules

install:
  - npm install
  - polymer install --variants

script:
  - if [[ "$TRAVIS_EVENT_TYPE" != "pull_request" && "$TRAVIS_BRANCH" != quick/* ]]; then
      npm i --no-save gemini@^4.0.0 gemini-sauce gemini-polyserve;
      gemini test test/visual;
    fi
