/* Additional styles for the demo */
/* Should be combined with Valo */

#tabs #selectionBar {
    background-color: #197de1;
}

@font-face {
    font-family: 'Vaadin-Icons';
    src: url('fonts/Vaadin-Icons.eot');
    src: url('fonts/Vaadin-Icons.eot?#iefix') format('embedded-opentype'),
    url('fonts/Vaadin-Icons.woff') format('woff'),
    url('fonts/Vaadin-Icons.ttf') format('truetype'),
    url('fonts/Vaadin-Icons.svg#icomoon') format('svg');
}

.icon {
    font-family: Vaadin-Icons;
    font-size: 16px;
    speak: none;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
