sudo: false
dist: trusty
language: node_js
node_js: stable

addons:
  firefox: latest
  google-chrome: latest

cache:
  directories:
    - node_modules

before_script:
  - gulp lint

script:
  - xvfb-run -s '-screen 0 1024x768x24' wct -l chrome -l firefox

after_success:
  - "cat ${TRAVIS_BUILD_DIR}/coverage/lcov.info | coveralls"
