:host {
  --_vaadin-multi-select-combo-box-items-container-border-width: var(--lumo-space-xs);
  --_vaadin-multi-select-combo-box-items-container-border-style: solid;
}

#overlay {
  width: var(
    --vaadin-multi-select-combo-box-overlay-width,
    var(--_vaadin-multi-select-combo-box-overlay-default-width, auto)
  );
}

[part='content'] {
  display: flex;
  flex-direction: column;
  height: 100%;
}
