[part='reveal-button']::before {
  content: var(--lumo-icons-eye);
}

:host([password-visible]) [part='reveal-button']::before {
  content: var(--lumo-icons-eye-disabled);
}

/* Make it easy to hide the button across the whole app */
[part='reveal-button'] {
  position: relative;
  display: var(--lumo-password-field-reveal-button-display, block);
}

[part='reveal-button'][hidden] {
  display: none !important;
}
