:host {
  --_vaadin-time-picker-items-container-border-width: var(--lumo-space-xs);
  --_vaadin-time-picker-items-container-border-style: solid;
}

#overlay {
  width: var(--vaadin-time-picker-overlay-width, var(--_vaadin-time-picker-overlay-default-width, auto));
}
