[part~='toggle-button']::before {
  content: var(--lumo-icons-clock);
}

:host([dir='rtl']) [part='input-field'] ::slotted(input:placeholder-shown) {
  --_lumo-text-field-overflow-mask-image: none;
}

:host([dir='rtl']) [part='input-field'] ::slotted(input) {
  --_lumo-text-field-overflow-mask-image: linear-gradient(to left, transparent, #000 1.25em);
}
