vaadin-time-picker::part(overlay) {
  animation: none !important;
  transition: none !important;
}

/* Hide caret */
vaadin-time-picker input {
  caret-color: transparent !important;
}

/* Disable animation */
vaadin-time-picker::part(label),
vaadin-time-picker::part(field-button),
vaadin-time-picker::part(helper-text),
vaadin-time-picker::part(input-field),
vaadin-time-picker::part(error-message),
vaadin-time-picker::part(required-indicator),
vaadin-time-picker input:placeholder-shown {
  &,
  &::before,
  &::after {
    animation: none !important;
    transition: none !important;
  }
}
