@import './accordion-heading.css';

@import '../src/mixins/base-layer-reset.css' vaadin-accordion-panel;
@import '../src/components/details.css' vaadin-accordion-panel;
@import '../src/components/accordion-panel.css' vaadin-accordion-panel;

html {
  --vaadin-accordion-panel-css-inject: 1;
}
