@import '../src/mixins/base-layer-reset.css' vaadin-accordion-heading;
@import '../src/components/details-summary.css' vaadin-accordion-heading;
@import '../src/components/accordion-heading.css' vaadin-accordion-heading;

html {
  --vaadin-accordion-heading-css-inject: 1;
}
