@import './input-container.css';

@import '../src/mixins/base-layer-reset.css' vaadin-time-picker;
@import '../src/mixins/field-label.css' vaadin-time-picker;
@import '../src/mixins/field-required.css' vaadin-time-picker;
@import '../src/mixins/field-error-message.css' vaadin-time-picker;
@import '../src/mixins/field-button.css' vaadin-time-picker;
@import '../src/mixins/field-helper.css' vaadin-time-picker;
@import '../src/mixins/field-base.css' vaadin-time-picker;
@import '../src/components/time-picker.css' vaadin-time-picker;

@import '../src/mixins/base-layer-reset.css' vaadin-time-picker-overlay;
@import '../src/components/overlay.css' vaadin-time-picker-overlay;
@import '../src/mixins/menu-overlay-core.css' vaadin-time-picker-overlay;
@import '../src/mixins/combo-box-overlay.css' vaadin-time-picker-overlay;
@import '../src/components/time-picker-overlay.css' vaadin-time-picker-overlay;

@import '../src/mixins/base-layer-reset.css' vaadin-time-picker-item;
@import '../src/mixins/item.css' vaadin-time-picker-item;
@import '../src/components/combo-box-item.css' vaadin-time-picker-item;

@import '../src/mixins/base-layer-reset.css' vaadin-time-picker-scroller;
@import '../src/components/time-picker-scroller.css' vaadin-time-picker-scroller;

html {
  --vaadin-time-picker-css-inject: 1;
  --vaadin-time-picker-item-css-inject: 1;
  --vaadin-time-picker-overlay-css-inject: 1;
  --vaadin-time-picker-scroller-css-inject: 1;
}
