vaadin-select::part(overlay) {
  animation: none !important;
}

/* Disable animation */
vaadin-select::part(label),
vaadin-select::part(field-button),
vaadin-select::part(helper-text),
vaadin-select::part(input-field),
vaadin-select::part(error-message),
vaadin-select::part(required-indicator),
vaadin-select input:placeholder-shown {
  &,
  &::before,
  &::after {
    animation: none !important;
    transition: none !important;
  }
}
