:where(:root),
:where(:host) {
  --lumo-size-xs: 1.625rem;
  --lumo-size-s: 1.875rem;
  --lumo-size-m: 2.25rem;
  --lumo-size-l: 2.75rem;
  --lumo-size-xl: 3.5rem;

  /* Icons */
  --lumo-icon-size-s: 1.25em;
  --lumo-icon-size-m: 1.5em;
  --lumo-icon-size-l: 2.25em;

  /* Border radius */
  --lumo-border-radius-s: 0.25em;
  --lumo-border-radius-m: 0.25em;
  --lumo-border-radius-l: 0.5em;

  --vaadin-radius-s: var(--lumo-border-radius-s);
  --vaadin-radius-m: var(--lumo-border-radius-m);
  --vaadin-radius-l: var(--lumo-border-radius-l);
}
