name: Visual tests

on: pull_request

permissions:
  contents: read

jobs:
  base:
    name: Base
    runs-on: windows-11-arm
    if: github.repository_owner == 'vaadin'

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: '0'

      - uses: actions/setup-node@v6
        with:
          node-version: '22'

      - uses: actions/cache/restore@v4
        with:
          path: ${{ github.workspace }}\cache_drive.vhdx
          key: cachedrive-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/yarn.lock') }}

      - uses: samypr100/setup-dev-drive@v3
        with:
          drive-size: 20GB
          drive-format: ReFS
          drive-type: Dynamic
          drive-path: ${{ github.workspace }}\cache_drive.vhdx
          mount-if-exists: true
          mount-path: ${{ github.workspace }}\.cachedrive

      - run: |
          echo "YARN_CACHE_FOLDER=${{ github.workspace }}\.cachedrive\yarn-cache" >> $env:GITHUB_ENV

      - name: Install Dependencies
        run: yarn install --immutable --non-interactive

      - name: Visual tests
        run: yarn test:base --CI --group button

      - uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: base-screenshots
          path: |
            packages/*/test/visual/base/screenshots/*/failed/*.png

      - uses: actions/cache/save@v4
        with:
          path: ${{ github.workspace }}\cache_drive.vhdx
          key: cachedrive-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/yarn.lock') }}

