name: Visual tests

on: pull_request

permissions:
  contents: read

jobs:
  base:
    name: Base
    runs-on: windows-latest
    if: github.repository_owner == 'vaadin'

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: '0'

      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'yarn'

      - uses: browser-actions/setup-chrome@v2
        id: setup-chrome
        with:
          chrome-version: 135
          install-chromedriver: true

      - name: Print Chrome version
        shell: pwsh
        run: |
          & "${{ steps.setup-chrome.outputs.chrome-path }}" --no-sandbox --version

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Visual tests
        env:
          CHROME_PATH: ${{ steps.setup-chrome.outputs.chrome-path }}
        run: yarn test:base --CI

      - uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: base-screenshots
          path: |
            /packages/*/test/visual/base/screenshots/*/failed/*.png
