name: Visual tests

on: pull_request

permissions:
  contents: read

jobs:
  base:
    name: Base
    runs-on: windows-11-arm
    if: github.repository_owner == 'vaadin'

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: '0'

      - uses: samypr100/setup-dev-drive@v3
        with:
          workspace-copy: true
          drive-size: '5GB'
          drive-type: 'Fixed'

      - uses: actions/setup-node@v6
        with:
          node-version: '22'

      - shell: pwsh
        run: |
          $cachePath = "${{ env.DEV_DRIVE_WORKSPACE }}\.yarn-cache"
          New-Item -ItemType Directory -Force -Path $cachePath | Out-Null
          $env:YARN_CACHE_FOLDER = $cachePath
          Write-Output "YARN_CACHE_FOLDER=$cachePath" >> $env:GITHUB_ENV

      - working-directory: ${{ env.DEV_DRIVE_WORKSPACE }}
        run: yarn cache dir

      - uses: actions/cache@v4
        with:
          path: ${{ env.DEV_DRIVE_WORKSPACE }}\.yarn-cache
          key: ${{ runner.os }}-arm-yarn-cache-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-arm-yarn-cache-

      - name: Install Dev Dependencies
        working-directory: ${{ env.DEV_DRIVE_WORKSPACE }}
        run: yarn add patch-package @ungap/structured-clone @vaadin/testing-helpers @web/dev-server @web/dev-server-esbuild @web/test-runner @web/test-runner-playwright @web/test-runner-visual-regression --dev --no-lockfile -W

      - name: Install Dependencies
        working-directory: ${{ env.DEV_DRIVE_WORKSPACE }}
        run: yarn install --immutable --production

      - name: Visual tests
        working-directory: ${{ env.DEV_DRIVE_WORKSPACE }}
        run: yarn test:base --CI --group button

      - uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: base-screenshots
          path: |
            ${{ env.DEV_DRIVE_WORKSPACE }}/packages/*/test/visual/base/screenshots/*/failed/*.png
