name: Visual tests

on: pull_request

permissions:
  contents: read

jobs:
  base:
    name: Base
    runs-on: windows-latest
    if: github.repository_owner == 'vaadin'

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: '0'

      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'yarn'

      - uses: browser-actions/setup-chrome@v2
        id: setup-chrome
        with:
          chrome-version: 135
          install-chromedriver: true

      - run: ${{ steps.setup-chrome.outputs.chrome-path }} --version

      - uses: samypr100/setup-dev-drive@v3
        with:
          workspace-copy: true
          drive-size: '5GB'

      - working-directory: ${{ env.DEV_DRIVE_WORKSPACE }}
        run: pwd

      - name: Install Dependencies
        working-directory: ${{ env.DEV_DRIVE_WORKSPACE }}
        run: yarn install --immutable

      - name: Visual tests
        working-directory: ${{ env.DEV_DRIVE_WORKSPACE }}
        run: yarn test:base --CI

      - uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: base-screenshots
          path: |
            ${{ env.DEV_DRIVE_WORKSPACE }}/packages/*/test/visual/base/screenshots/*/failed/*.png
