name: Visual tests

on: pull_request

permissions:
  contents: read

jobs:
  base:
    name: Base
    runs-on: windows-11-arm
    if: github.repository_owner == 'vaadin'

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - name: Install Dependencies
        run: yarn --frozen-lockfile --no-progress --non-interactive

      - name: Visual tests
        run: yarn test:base --launcher playwright

      - uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: base-screenshots
          path: |
            packages/*/test/visual/base/screenshots/*/failed/*.png
