name: Visual tests

on: pull_request

permissions:
  contents: read

jobs:
  base:
    name: Base
    runs-on: windows-11-arm
    if: github.repository_owner == 'vaadin'

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: '0'

      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn install --frozen-lockfile --no-progress --non-interactive

      - name: Visual tests
        run: yarn test:base --CI

      - uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: base-screenshots
          path: |
            packages/*/test/visual/base/screenshots/*/failed/*.png
