name: Visual tests

on: pull_request

permissions:
  contents: read

jobs:
  lumo:
    name: Lumo
    runs-on: ubuntu-latest
    if: github.repository_owner == 'vaadin'

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn --frozen-lockfile --no-progress --non-interactive

      - name: Visual tests
        uses: nick-fields/retry@v3
        env:
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
        with:
          timeout_minutes: 20
          retry_wait_seconds: 60
          max_attempts: 3
          command: yarn test:lumo

      - uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: screenshots
          path: |
            packages/*/test/visual/lumo/screenshots/*/failed/*.png
            packages/vaadin-lumo-styles/test/visual/screenshots/failed/*.png
  material:
    name: Material
    runs-on: ubuntu-latest
    if: github.repository_owner == 'vaadin'

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn --frozen-lockfile --no-progress --non-interactive

      - name: Visual tests
        uses: nick-fields/retry@v3
        env:
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
        with:
          timeout_minutes: 20
          retry_wait_seconds: 60
          max_attempts: 3
          command: yarn test:material

      - uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: screenshots
          path: |
            packages/*/test/visual/material/screenshots/*/failed/*.png
            packages/vaadin-material-styles/test/visual/screenshots/failed/*.png
